@charset "UFT-8";



header {
    background-color: #ebc390;
}
nav {
    display: inline-block;
    background-color: rgb(180, 109, 51);
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color:#FFF;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500px;
    text-decoration:none;
    margin-right: 30px;
}
a::before{
    content: "";
    background-color: rgb(0, 0, 0);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
