@charset "UFT-8";
body{
    font-family: "PrStart", sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #e4bf90;
    border-bottom: 10px solid rgb(185, 153, 153);
    padding: 10px 20px;

}
nav {
    display: inline-block;
    background-color: #e4bf90f;
    text-align: right;
}
a {
    display: inline-flex;
    align-items: center;
    color:rgb(95, 78, 78);
    font-size: 20px;
    font-family:"PrStart", sans-serif;
    font-weight: 500px;
    text-decoration:none;
    margin-right: 30px;
}
a::before{
    content: "";
    background-color: rgb(226, 238, 233);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
@font-face {
    font-family: PrStart;
    src: url("PrStart.ttf")
}
h1{
    font-family:"PrStart", sans-serif;
    font-size: 40px;
    color: blanchedalmond;
    text-shadow: 04px 04px 0 #000;
    text-align: center;
}
h2{
    font-size:30px ;
    font-family: "PrStart", sans-serif;
    text-shadow: 5px 5px 0 #000
    color:#FFF;
    text-align:inherit;
}
#box{
    background-color:  #3a4042;
    width: 684px;
    height: 185px;
    box-shadow: 20 px 20 px 0 #000;
    text-align: center;
    padding: 42px;
}
.button {
    display: inline-block;
    background-color: #e4bf90;
    box-shadow: 5px 5px 0 #000;
    padding: 18px 20px;
    margin-right: 0;
    font-family: "PrStart";
    font-size: 20px;
    transition: transform 100ms cubic-bezier(.45,..97,..68,2,48) ;
}
.button:hover {
    transform: scale(1.08);
}