.vintage {
  width: 100%;
  text-align: center;
  padding: 200px 0px;
  float: left;
  background-image: url("../uploads/fundo-vintage.png");
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
